.fuente-titulos {
  font-family: 'Belgrano', serif;
}

/* Icono fecha nacimiento - cambio color */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(91%) sepia(5%) saturate(839%) hue-rotate(192deg) brightness(104%) contrast(95%);
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #000 !important; /* Color del texto */
  transition: background-color 5000s ease-in-out 0s;
}
